﻿@model AddUpdateDoctorModel
@{
    ViewBag.Title = ViewBag.Action + " Doctor";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;
}

@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script>
        var pageName = "";
        if ("@ViewBag.Action" == "Add")
            pageName = "Add";
        ActiveMenu("Doctor" + pageName)
    </script>
}
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "Doctor", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                if (Model != null)
                {
                    @Html.HiddenFor(x => x.DoctorID)
                    @*@Html.Hidden("filter")*@
                }
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@ViewBag.Action Employee</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Employee Name <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.DoctorName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.DoctorName)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Email ID<span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.EmailID)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Password<span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.PasswordFor(x => x.Password, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.Password)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

