﻿@model IEnumerable<ViewDoctorModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper ActionButtons(int Id, bool isActive)
{
if (isActive)
{
        <a href="@Url.Action("Deactivate", "Doctor", new { @DoctorID = Id, @filter = Request.QueryString })" class="btn btn-warning btn-primary">
            <i class="icon-edit2"></i> Deactivate
        </a>
}
else
{
        <a href="@Url.Action("Activate", "Doctor", new { @DoctorID = Id, @filter = Request.QueryString })" class="btn btn-success btn-primary btn-blue">
            <i class="icon-edit2"></i>Activate
        </a>
}


    <a href="javascript:;" class="btn btn-danger btn-primary btn-red deleteData" data-id="@Id">
        <i class="icon-trash-o"></i> Delete
    </a>

}
@helper Date(DateTime date)
{
    <text>@date.ToString("MMM dd yyyy hh:mm tt")</text>
}
@Styles.Render("~/css/gridMvc")
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Employee</h4>

                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            <li>
                                <a href="@Url.Action("Add")">
                                    <i class="icon-plus3"></i>Add new Employee
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">

                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(t => t.DoctorName)
                               .Titled("Employee Name")
                               .Filterable(true)
                               .Sortable(true)
                               .Encoded(false).Sanitized(false);

                               column.Add(t => t.EmailID)
                               .Titled("EmailID")
                               .Filterable(true)
                               .Sortable(true)
                               .Encoded(false)
                               .Sanitized(false);

                               column.Add(t => t.RegisterDate)
                              .Titled("Register Date & Time")
                              .Filterable(true)
                              .Sortable(true)
                              .Encoded(false)
                              .Sanitized(false)
                               .RenderValueAs(x => Date(x.RegisterDate)).SetWidth(300);


                               column.Add()
                               .Encoded(false)
                               .Sanitized(false)
                               .Titled("Action")
                               .RenderValueAs(x => ActionButtons(x.DoctorID, x.isActive)).SetWidth(300);

                           }).Selectable(false).WithPaging(10)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("Doctor");

         $(function () {
            $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });
    </script>
}