﻿<head>
    <title>Forget Password</title>
</head>
<body>
    <div style="border: 2px; border-style: solid; border-color: #1B3E5A; width: auto;">
        <div id="Header" style="background-color: hsl(352,75%,38%); width: 100%; color: White; border-bottom: 2px solid #ED702B;">
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td style="width: 5% padding-left:20px">
                        <img height="60px" style="padding-left:20px" alt="" src="http://ambutrans.imperoserver.in/Files/DefaultImages/Admin-Login.png">
                    </td>
                    <td align="center" style="width: 95%">
                        <h1 style="font-family: Arial; color:white">
                            AMBU-TRANS
                        </h1>
                    </td>
                </tr>
            </table>
        </div>
        <div style="background-color: white; width: 100%;">
            <div style="padding-left: 3px;">
                <br />
                Hi <b>{Name}</b>,
                <br />
                <div style="border-top: 1px solid #ED702B">
                </div>
                <p align="left">
                    <b>The following are the credential of your account.</b>
                </p>
               <br />
                    Your Username: {UserName}<br />
                    Your Password: {Password}
                    <br />
                    <br />
                </center>
            </div>
        </div>
    </div>
</body>
</html>
