﻿@model List<ViewMedicalReport>

@{
    Layout = null;
}
<DIV TYPE=HEADER>
    <style>
        .font-family {
            font-family: "Arial Narrow", Arial, sans-serif;
            color: #002060;
        }
    </style>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><IMG SRC="https://ambu-trans.co.uk/app/uploads/AMBU-TRANS-medical-repatriation.png" NAME="Picture 1" ALIGN=BOTTOM WIDTH=284 HEIGHT=41 BORDER=0></P>
</DIV>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in" class="font-family">
            <FONT SIZE=5>
                <SPAN LANG="en-US">
                    <U>
                        <B>
                            <BR>REPORT FILES
                            <BR>
                        </B>
                    </U>
                </SPAN>
            </FONT>
</P>
<TABLE ALIGN=CENTER WIDTH=690 style="min-height:400;max-height:100%" CELLPADDING=7 CELLSPACING=0 class="font-family">
    @if (Model.Count != 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td ALIGN=CENTER><img src="@Url.Content(item.ReportFileUrl)" width="50%" height="40%" /></td>
            </tr>
        }
    }
    else
    {
        <tr ALIGN=CENTER ><td><h1>No Reports Uploaded</h1></td>></tr>
    }
</TABLE>
<br />
<DIV TYPE=FOOTER>
    <table width="674" align="center">
        <tr>
            <td width="70%">
                <P STYLE="margin-bottom: 0.11in">
                    <A NAME="_GoBack"></A><FONT COLOR="#002060"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><U><B>Disclaimer:<BR></B></U></SPAN></FONT></FONT><FONT COLOR="#002060">
                        <FONT FACE="Arial, serif">
                            <FONT SIZE=1 STYLE="font-size: 8pt">
                                <SPAN LANG="en-US">
                                    Confidential
                                    Health Information Enclosed. Health care information is personal
                                    and sensitive. <BR>It is being faxed to you after appropriate
                                    authorization from the Individual or under circumstances<BR>that do
                                    not require Individual authorization. The recipient is obligated to
                                    maintain this information in a safe, secure and confidential
                                    manner. Re-disclosure without additional consent or authorization
                                    of the Individual or as permitted by law is prohibited.
                                    Unauthorized re-disclosure or failure to maintain the
                                    confidentiality of this information could subject you to penalties
                                    under Federal and/or State law.
                                </SPAN>
                            </FONT>
                        </FONT>
                    </FONT>
                </P>
            </td>
            <td>
                <P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%">
                    <FONT COLOR="#002060">
                        <FONT SIZE=3>
                            <SPAN LANG="en-US">
                                PHONE:
                                +49-211-38789980<BR>FAX: +49-211-38789981
                            </SPAN>
                        </FONT>
                    </FONT><FONT COLOR="#002060"><FONT SIZE=4><SPAN LANG="en-US"><BR><BR></SPAN></FONT></FONT><FONT COLOR="#002060">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN LANG="en-US">
                                Version
                                2.0 Date: 29-09-2017<BR>Author: Quality Coordinator
                            </SPAN>
                        </FONT>
                    </FONT>
                </P>
            </td>
        </tr>
    </table>
</DIV>