﻿@model AddUpdateRecomdationSubcategoryModel
@{
    ViewBag.Title = ViewBag.Action + " RecommendationSubcategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;
}

@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script>
        var pageName = "";
        if ("@ViewBag.Action" == "Add")
            pageName = "Add";
        ActiveMenu("RecommendationSubcategory" + pageName)
    </script>
}

<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "RecommendationSubcategory", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                if (Model != null)
                {
                    @Html.HiddenFor(x => x.RecomdationSubcategoryID)
                    @Html.Hidden("filter")
                }
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@ViewBag.Action Rrecommendation Subcategory</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Select Rrecommendation <span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(x => x.RecomdationID, new SelectList(ViewData["Recommendation"] as IEnumerable<RecomdationCategoryModel>, "RecomdationID", "RecomdationName"), "Select Rrecommendation Name", new { @class = "form-control required" })

                                            @Html.ValidationMessageFor(x => x.RecomdationID)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Recomdation Subcategory Name<span class="red">*</span>
                                        </label>
                                        <div class="col-md-6">
                                            @Html.TextBoxFor(x => x.RecomdationSubcategoryName, new { @class = "form-control required" })
                                            @Html.ValidationMessageFor(x => x.RecomdationSubcategoryName)
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Save Changes" />
                                <a href="@Url.Action("Index")?@(Request.QueryString["filter"])" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
            }
    </div>
</section>
