﻿@{ AlertModel alertModel = TempData["alertModel"] as AlertModel;
    if (alertModel != null)
    {
        if (!string.IsNullOrEmpty(alertModel.alertMessage))
        {
            <section id="solid-alerts">
                <div class="alert bg-@alertModel.alertStatus.ToString() alert-dismissible fade in" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <span id="message">@alertModel.alertMessage</span>
                </div>
            </section>
        }
    }
    else
    {
        <section id="solid-alerts" style="display:none">
            <div class="alert alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span id="message"></span>
            </div>
        </section>
    }
}
