﻿<!DOCTYPE html>
<html lang="en" data-textdirection="ltr" class="loading">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>@ViewBag.Title -@AmbuTrans.Helper.GlobalConfig.ProjectName</title>
    <link rel="apple-touch-icon" sizes="60x60" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-60.png")">
    <link rel="apple-touch-icon" sizes="76x76" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-76.png")">
    <link rel="apple-touch-icon" sizes="120x120" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-120.png")">
    <link rel="apple-touch-icon" sizes="152x152" href="@Url.Content("~/Files/DefaultImages/favicon/apple-icon-152.png")">
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/Files/DefaultImages/favicon/favicon.ico")">
    <link rel="shortcut icon" type="image/png" href="@Url.Content("~/Files/DefaultImages/favicon/favicon-32.png")">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    @Styles.Render("~/css/bundles")
    @Styles.Render("~/css/menu")
    @Scripts.Render("~/jQuery/bundles")
</head>
<body data-open="click" data-menu="vertical-menu" data-col="2-columns" class="vertical-layout vertical-menu 2-columns fixed-navbar" id="body">
    <!-- navbar-fixed-top-->
    <nav class="header-navbar navbar navbar-with-menu navbar-fixed-top navbar-semi-dark navbar-shadow">
        <div class="navbar-wrapper">
            <div class="navbar-header">
                <ul class="nav navbar-nav">
                    <li class="nav-item mobile-menu hidden-md-up float-xs-left">
                        <a class="nav-link nav-menu-main menu-toggle hidden-xs">
                            <i class="icon-menu5 font-large-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index","Home")" class="navbar-brand nav-link">
                            <img alt="@AmbuTrans.Helper.GlobalConfig.ProjectName" src="@Url.Content("~/Files/DefaultImages/Admin-View.png")" class="brand-logo"
                                 data-expand="@Url.Content("~/Files/DefaultImages/logo.png")"
                                 data-collapse="@Url.Content("~/Files/DefaultImages/small-logo.png")">
                        </a>
                    </li>
                    <li class="nav-item hidden-md-up float-xs-right">
                        <a data-toggle="collapse" data-target="#navbar-mobile" class="nav-link open-navbar-container">
                            <i class="icon-ellipsis pe-2x icon-icon-rotate-right-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="navbar-container content container-fluid">
                <div id="navbar-mobile" class="collapse navbar-toggleable-sm">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-sm-down">
                            <a class="nav-link nav-menu-main menu-toggle hidden-xs"><i class="icon-menu5"></i></a>
                        </li>
                        <li class="nav-item hidden-sm-down"><a href="#" class="nav-link nav-link-expand"><i class="ficon icon-expand2"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav float-xs-right">
                        <li class="dropdown dropdown-user nav-item">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle nav-link dropdown-user-link">
                                <span class="avatar avatar-online">
                                    <img src="@Url.Content("~/Files/DefaultImages/admin_avtar.png")" alt="avatar"><i></i>
                                </span>
                                <span class="user-name">Admin</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="@Url.Action("changepassword", "AdminAccount")" class="dropdown-item"><i class="icon-head"></i> change password</a>
                                <div class="dropdown-divider"></div>
                                <a href="@Url.Action("Logout","AdminAccount")" class="dropdown-item"><i class="icon-power3"></i> Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- main menu-->
    <div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
        <div class="main-menu-content">
            <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
                <li class="nav-item" id="liDashboard">
                    <a href="@Url.Action("Index","Home")">
                        <i class="icon-home3"></i>
                        <span data-i18n="nav.dash.main" class="menu-title">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="icon-cube2"></i><span data-i18n="nav.templates.main" class="menu-title">Rrecommendation</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a href="@Url.Action("Index","Recommendation")" data-i18n="nav.templates.vert.main" class="menu-item">View Recommendation</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Add","Recommendation")" data-i18n="nav.templates.horz.main" class="menu-item">Add Recommendation</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="icon-inbox"></i><span data-i18n="nav.templates.main" class="menu-title">Rrecommendation Sub..</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a href="@Url.Action("Index","RecommendationSubcategory")" data-i18n="nav.templates.vert.main" class="menu-item">View Subcategory</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Add","RecommendationSubcategory")" data-i18n="nav.templates.horz.main" class="menu-item">Add Subcategory</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="icon-inbox"></i><span data-i18n="nav.templates.main" class="menu-title">Air Class</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a href="@Url.Action("Index","AirClass")" data-i18n="nav.templates.vert.main" class="menu-item">View Class</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Add","AirClass")" data-i18n="nav.templates.horz.main" class="menu-item">Add Class</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="icon-sitemap"></i><span data-i18n="nav.templates.main" class="menu-title">Repatriation Necessary</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a href="@Url.Action("Index","RepatriationNecessary")" data-i18n="nav.templates.vert.main" class="menu-item">View Repatriation</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Add","RepatriationNecessary")" data-i18n="nav.templates.horz.main" class="menu-item">Add Repatriation</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="icon-inbox"></i><span data-i18n="nav.templates.main" class="menu-title">Message</span>
                    </a>
                    <ul class="menu-content">
                        <li >
                            <a href="@Url.Action("Index","Message")" data-i18n="nav.templates.vert.main" class="menu-item">View Message</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Message","Message")" data-i18n="nav.templates.horz.main" class="menu-item">Send New Message</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <i class="icon-user"></i><span data-i18n="nav.templates.main" class="menu-title">Employee</span>
                    </a>
                    <ul class="menu-content">
                        <li>
                            <a href="@Url.Action("Index","Doctor")" data-i18n="nav.templates.vert.main" class="menu-item">View Employee</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Add","Doctor")" data-i18n="nav.templates.horz.main" class="menu-item">Add New Employee</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a  href="@Url.Action("Index","MedicalTransferView")" >
                        <i class="icon-files-empty"></i><span data-i18n="nav.templates.main" class="menu-title">View patient reports</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- / main menu-->

    <div class="app-content content container-fluid">
        <div class="content-wrapper">
            @Html.Partial("_Breadcrumb")
            <div class="content-body">
                @Html.Partial("_Alert")
                @RenderBody()


            </div>
        </div>
    </div>

    <footer class="footer footer-static footer-light navbar-border">
        <p class="clearfix text-muted text-sm-center mb-0 px-2">
            <span class="float-md-left d-xs-block d-md-inline-block">
                Copyright  &copy; @DateTime.Now.Year
                <a href="#" target="_blank" class="text-bold-800 grey darken-2">@AmbuTrans.Helper.GlobalConfig.ProjectName</a>, All rights reserved.
            </span>
            <span class="float-md-right d-xs-block d-md-inline-block">
                Hand-crafted & Made with <i class="icon-heart5 pink"></i>
            </span>
        </p>
    </footer>

    @Scripts.Render("~/jQuery/core")
    @Scripts.Render("~/jQuery/ui")
    <script src="~/MVCGridHandler.axd/script.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>