﻿@model IEnumerable<ViewMessageModel>
@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@helper ActionButtons(int Id)
{
    <a href="javascript:;" class="btn btn-sm btn-primary btn-red deleteData" data-id="@Id">
        <i class="icon-trash-o"></i> Delete
    </a>
}
@helper Date(DateTime date)
{
    <text>@date.ToString(GlobalConfig.DateFormat)</text>
}
@helper Time(DateTime date)
{
    <text>@date.ToString("hh:mm: tt")</text>
}
@Styles.Render("~/css/gridMvc")
<section id="basic">
    <div class="row">
        <div class="col-xs-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">All Message</h4>

                    <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    <div class="heading-elements">
                        <ul class="list-inline mb-0">
                            <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                            <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                            <li>
                                <a href="@Url.Action("Add")">
                                    <i class="icon-plus3"></i>Send new message
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body collapse in">
                    <div class="card-block card-dashboard">

                        <div id="basicScenario" class="jsgrid" style="position: relative;height: auto;width: 100%;">
                            <div class="jsgrid-grid-body">
                                @Html.Grid(Model).Columns(column =>
                           {
                               column.Add(t => t.Message)
                               .Titled("Message")
                               .Filterable(true)
                               .Sortable(true)
                               .Encoded(false).Sanitized(false).SetWidth(900);


                               column.Add(t => t.Date)
                               .Titled("Date")
                               .Filterable(true)
                               .Sortable(false)
                               .Encoded(false).Sanitized(false)
                                .RenderValueAs(x => Date(x.DateTIme)).SetWidth(200);

                               column.Add(t => t.Time)
                             .Titled("Time")
                             .Filterable(false)
                             .Sortable(false)
                             .Encoded(false).Sanitized(false)
                             .RenderValueAs(x => Time(x.DateTIme)).SetWidth(300);

                               column.Add()
                              .Encoded(false)
                              .Sanitized(false)
                              .Titled("Action")
                              .RenderValueAs(x => ActionButtons(x.MessageID)).SetWidth(300);
                           }).Selectable(false).WithPaging(10)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/jQuery/gridMvc")
    <script type="text/javascript">
        ActiveMenu("Inquiry");

         $(function () {
            $(".deleteData").click(function () {
                deleteRow($(this), '@Url.Action("Delete")');
            });
        });
    </script>
}