﻿@model SendMessageModel
@{
    ViewBag.Title = ViewBag.Action + " Message";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string _action = ViewBag.Action;
}
@section Scripts {
    @Scripts.Render("~/jQuery/validate")
    <script>
        var pageName = "";
        if ("@ViewBag.Action" == "Add")
            pageName = "Add";
        ActiveMenu("Message" + pageName)
    </script>
}
<section id="validation">
    <div class="row">
        <div class="col-xs-12">
            @using (Html.BeginForm(_action, "Message", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                if (Model != null)
                {
                    @Html.Hidden("filter")
                }
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@ViewBag.Action Message</h4>
                        <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                    </div>
                    <div class="card-body collapse in">
                        <div class="card-block">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <div class="form-group row">
                                        <label class="col-md-4">
                                            Message <span class="red">*</span>
                                        </label>
                                        <div class="col-md-8">
                                           @Html.TextAreaFor(model => model.Message, new { style = "width: 100%;"})
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="form-group row">
                            <div class="col-md-3">
                                <input type="submit" class="btn btn-md btn-primary" value="Send Message " />
                                <a href="@Url.Action("index")?@(Request.QueryString["filter"])" class="btn btn-md btn-grey">
                                    Cancel
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>