﻿.field-validation-error, .validation-summary-errors {
    color: #BC2534 !important;
}

.error-code {
    font-size: 10rem;
}

/*krajee bootstrap file input*/
.file-footer-caption, .file-thumb-progress, .kv-upload-progress {
    display: none !important;
}

.krajee-default .file-actions {
    margin-top: unset !important;
}

.krajee-default.file-preview-frame .file-thumbnail-footer {
    height: unset !important;
}

.file-caption-main .form-control {
    padding: 4px !important;
}
