﻿@model AmbuTrans.Models.EditVitalsInformationModel

@{
    Layout = null;
}
<DIV TYPE=HEADER>
    <style>
        .tableheader {
            color: #002060;
            font-family: "Arial Narrow", Arial, sans-serif;
            font-size: 10px;
            font-size: 10px;
            align-items: center;
            border-bottom: 1px solid #00000a;
        }

        .font-family {
            font-family: "Arial Narrow", Arial, sans-serif;
            color: #002060;
        }

        .icon {
            height: 12px;
            margin-right: 5px;
        }
    </style>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><IMG SRC="https://ambu-trans.co.uk/app/uploads/AMBU-TRANS-medical-repatriation.png" NAME="Picture 1" ALIGN=BOTTOM WIDTH=284 HEIGHT=41 BORDER=0></P>
</DIV>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in" class="font-family">
    <FONT SIZE=5>
        <SPAN LANG="en-US">
            <U>
                <B>
                    <BR>VITALS
                    / INFORMATION
                </B>
            </U>
        </SPAN>
    </FONT>
</P>
<TABLE align="center" WIDTH=690 CELLPADDING=7 CELLSPACING=0 class="font-family">
    <COL WIDTH=128>
    <COL WIDTH=97>
    <COL WIDTH=232>
    <COL WIDTH=43>
    <COL WIDTH=24>
    <COL WIDTH=43>
    <COL WIDTH=23>
    <TR VALIGN=TOP>
        <TD WIDTH=140 HEIGHT=4 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Length:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.Length) Cm
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=78 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Weight:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.Weight) Kg
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=5 WIDTH=420 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        @if (Model.Station == 0)
                        {
                            <img src="~/Files/DefaultImages/check-box.png" style=" height: 12px;
            margin-right: 5px;" /><span class="circle"></span><text>ICU /</text>
                            <img src="~/Files/DefaultImages/check-box-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>Normal Stattion</text>
                        }
                        else
                        {
                            <img src="~/Files/DefaultImages/check-box-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>ICU /</text>
                            <img src="~/Files/DefaultImages/check-box.png" style=" height: 12px;
            margin-right: 5px;" /><text>Normal Stattion</text>
                        }
                    </B>

                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=7 WIDTH=674 HEIGHT=5 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>Allergies:</B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.Allergies)
                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=128 HEIGHT=5 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>
                            Mobility
                            / disability:
                        </B>
                        <FONT COLOR="black">

                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=97 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                @Html.DisplayFor(x => x.Mobility_disability)
            </P>
        </TD>
        <TD WIDTH=232 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=24 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=23 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=128 HEIGHT=3 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>Diet:</B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.Diet)
                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=97 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=232 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=24 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=23 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=128 HEIGHT=3 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3><SPAN LANG="en-GB"><B>Secretion:</B></SPAN></FONT>
            </P>
        </TD>
        <TD WIDTH=97 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    @Html.DisplayFor(x => x.Secretion)
                </FONT>
            </P>
        </TD>
        <TD WIDTH=232 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=24 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=23 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=128 HEIGHT=2 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY><FONT COLOR="#002060"><FONT FACE="Arial Narrow, serif"><FONT SIZE=3><SPAN LANG="en-GB"><B>Defecation:</B></SPAN></FONT></FONT></FONT></P>
        </TD>
        <TD WIDTH=150 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    @Html.DisplayFor(x => x.Defecation)
                </FONT>
            </P>
        </TD>
        <TD WIDTH=232 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>Urine:</B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.Urine)
                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <FONT COLOR="#002060">

                </FONT>
            </P>
        </TD>
        <TD WIDTH=24 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=23 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
    </TR>
</TABLE>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
</P>
<TABLE align="center" WIDTH=690 CELLPADDING=7 CELLSPACING=0 class="font-family">
    <COL WIDTH=457>
    <COL WIDTH=90>
    <COL WIDTH=98>
    <TR VALIGN=TOP>
        <TD WIDTH=457 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>
                            Patient
                            transportable as agreed upon with Medical Manager
                        </B>
                    </SPAN>
                </FONT>
            </P>
        </TD>
        @if (Model.PatientTransportableAgreed)
        {
            <TD WIDTH=90 BGCOLOR="#ffffff" STYLE="border: 1pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>
                    <FONT SIZE=3>
                        <SPAN LANG="en-GB">
                            <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><B>agreed</B>
                        </SPAN>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=98 BGCOLOR="#ffffff" STYLE="border: 1pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>
                    <FONT SIZE=3>
                        <SPAN LANG="en-GB">
                            <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /><B>declined</B>
                        </SPAN>
                    </FONT>
                </P>
            </TD>
        }
        else
        {
            <TD WIDTH=90 BGCOLOR="#ffffff" STYLE="border: 1pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>
                    <FONT SIZE=3>
                        <SPAN LANG="en-GB">
                            <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /><B>agreed</B>
                        </SPAN>
                    </FONT>
                </P>
            </TD>
            <TD WIDTH=98 BGCOLOR="#ffffff" STYLE="border: 1pt solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <P>
                    <FONT SIZE=3>
                        <SPAN LANG="en-GB">
                            <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><B>declined</B>
                        </SPAN>
                    </FONT>
                </P>
            </TD>
        }
    </TR>
</TABLE>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
</P>
<TABLE align="center" WIDTH=690 CELLPADDING=7 CELLSPACING=0 class="font-family">
    <COL WIDTH=126>
    <COL WIDTH=43>
    <COL WIDTH=37>
    <COL WIDTH=41>
    <COL WIDTH=41>
    <COL WIDTH=43>
    <COL WIDTH=43>
    <COL WIDTH=43>
    <COL WIDTH=43>
    <COL WIDTH=43>
    <COL WIDTH=33>
    <TR>
        <TD COLSPAN=11 WIDTH=674 HEIGHT=4 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT SIZE=3><B>Medication:</B></FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT COLOR="black">
                    @Html.DisplayFor(x => x.MedicationDescription)
                </FONT>
            </P>
            <P ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
    </TR>
</TABLE>
<P LANG="en-GB" ALIGN=JUSTIFY STYLE="margin-bottom: 0.11in">
</P>
<TABLE border="1px" style="border-color:#002060" class="tableheader" align="center" WIDTH=690 CELLPADDING=7 CELLSPACING=0>

    @if (Model.MedicationTransaction != null)
            {
        <tr>
            <th width="120px">Actual vitals / time</th>
            @foreach (var item in Model.MedicationTransaction)
            {
                <td width="60px">@item.ActualVitals_Time</td>
            }
            @if (Model.MedicationTransaction.Count < 10)
            {
                for (int i = Model.MedicationTransaction.Count; i < 10; i++)
                {
                    <td width="60px"></td>
                }
            }
        </tr>
        <tr>
            <th>Temperature</th>

            @foreach (var item in Model.MedicationTransaction)
            {

                <td>
                    @item.Temprature
                </td>
            }

            @if (Model.MedicationTransaction.Count < 10)
            {
                for (int i = Model.MedicationTransaction.Count; i < 10; i++)
                {
                    <td width="60px"></td>
                }
            }
        </tr>
        <tr>
            <th>Respiratory rate</th>
            @foreach (var item in Model.MedicationTransaction)
            {
                <td>@item.RespiratoryRate</td>
            }
            @if (Model.MedicationTransaction.Count < 10)
            {
                for (int i = Model.MedicationTransaction.Count; i < 10; i++)
                {
                    <td width="60px"></td>
                }
            }
        </tr>
        <tr>
            <th>Saturation</th>
            @foreach (var item in Model.MedicationTransaction)
            {
                <td>@item.Saturation</td>
            }
            @if (Model.MedicationTransaction.Count < 10)
            {
                for (int i = Model.MedicationTransaction.Count; i < 10; i++)
                {
                    <td width="60px"></td>
                }
            }
        </tr>
                <tr>
                    <th>Heart rate</th>
                    @foreach (var item in Model.MedicationTransaction)
                    {
                        <td>@item.HeartRate</td>
                    }
                    @if (Model.MedicationTransaction.Count < 10)
                    {
                        for (int i = Model.MedicationTransaction.Count; i < 10; i++)
                        {
                            <td width="60px"></td>
                        }
                    }

                </tr>
                <tr>
                    <th>Blood pressure</th>
                    @foreach (var item in Model.MedicationTransaction)
                    {
                        <td>@item.BloodPressure1 / @item.BloodPressure2</td>

                    }
                    @if (Model.MedicationTransaction.Count < 10)
                    {
                        for (int i = Model.MedicationTransaction.Count; i < 10; i++)
                        {
                            <td width="60px"></td>
                        }
                    }

                </tr>
                <tr>
                    <th>EMV</th>
                    @foreach (var item in Model.MedicationTransaction)
                    {
                        <td>@item.EMV</td>
                    }
                    @if (Model.MedicationTransaction.Count < 10)
                    {
                        for (int i = Model.MedicationTransaction.Count; i < 10; i++)
                        {
                            <td width="60px"></td>
                        }
                    }

                </tr>
    }

</TABLE>


<P LANG="en-US" STYLE="margin-bottom: 0.11in">
</P>
<TABLE align="center" WIDTH=690 CELLPADDING=7 CELLSPACING=0 class="font-family">
    <COL WIDTH=128>
    <COL WIDTH=88>
    <COL WIDTH=156>
    <COL WIDTH=259>
    <TR>
        <TD COLSPAN=4 WIDTH=674 HEIGHT=4 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        NR
                        policy:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.NRpolicy)
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=4 WIDTH=674 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>
                            Prognosis
                            / risks:
                        </B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.Prognosis_Risks)
                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD WIDTH=128 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>
                            MRSA:
                        </B>

                    </SPAN>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=88 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    <FONT SIZE=3>
                        <SPAN LANG="en-GB">
                            @if (Model.MRSA)
                            {

                                <img src="~/Files/DefaultImages/check-box.png" style=" height: 12px;
            margin-right: 5px;" /> <text>Tested</text>}
                            else
                            {


                                <img src="~/Files/DefaultImages/check-box-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>Tested</text>}
                        </SPAN>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=259 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT COLOR="black"><FONT FACE="Wingdings 2, serif"><FONT SIZE=3><SPAN LANG="en-GB"><B></B></SPAN></FONT></FONT></FONT><FONT COLOR="black">
                    <FONT SIZE=3>
                        <SPAN LANG="en-GB">
                            @if (Model.Result)
                            {
                                <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><text> Positive</text>
                                <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /> <text>N egative</text>
                            }
                            else
                            {
                                <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>Positive</text>
                                <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><text>Negative</text>
                            }
                        </SPAN>
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=145 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <FONT COLOR="black">
                            @if (Model.ProcedureExplained)
                            {
                                <img src="~/Files/DefaultImages/check-box.png" style=" height: 12px;
            margin-right: 5px;" /><text>
                                    Procedure
                                    explained:
            </text>
                            }
                            else
                            {
                                <img src="~/Files/DefaultImages/check-box-empty.png" style=" height: 12px;
            margin-right: 5px;" />
                                <text>
                                    Procedure
                                    explained:
                                </text>

                            }
                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=4 WIDTH=674 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>
                            Guiding
                            passenger:
                        </B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.GuidingPassenger)
                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=4 WIDTH=674 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>Bagage:</B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.Bagage)
                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
    </TR>
</TABLE>
<P LANG="en-US" STYLE="margin-bottom: 0.11in">
</P>
<TABLE align="center" STYLE="border: 1px solid #00000a;" WIDTH=690 CELLPADDING=7 CELLSPACING=0>
    <COL WIDTH=674>
    <TR STYLE="border: 1px solid #00000a;">
        <TD WIDTH=80% VALIGN=TOP STYLE="padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT COLOR="#002060" SIZE=3>
                    <B>Notes:</B>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    @Html.DisplayFor(x => x.Notes)
                </FONT>
            </P>

        </TD>
        <TD WIDTH=14 VALIGN="bottom" STYLE="padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <IMG SRC="https://ambu-trans.co.uk/app/uploads/2016/03/contact247.png" alt="sss" NAME="Picture 3" WIDTH=69 HEIGHT=71 BORDER=0>
            </P>
        </TD>
    </TR>
</TABLE>
    <BR>
<DIV TYPE=FOOTER>
    <table width="674" align="center" class="font-family">
        <tr>
            <td width="70%">
                <P STYLE="margin-bottom: 0.11in">
                    <A NAME="_GoBack"></A><FONT COLOR="#002060"><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><U><B>Disclaimer:<BR></B></U></SPAN></FONT></FONT>
                    <FONT SIZE=1 STYLE="font-size: 8pt">
                        <SPAN LANG="en-US">
                            Confidential
                            Health Information Enclosed. Health care information is personal
                            and sensitive. <BR>It is being faxed to you after appropriate
                            authorization from the Individual or under circumstances<BR>that do
                            not require Individual authorization. The recipient is obligated to
                            maintain this information in a safe, secure and confidential
                            manner. Re-disclosure without additional consent or authorization
                            of the Individual or as permitted by law is prohibited.
                            Unauthorized re-disclosure or failure to maintain the
                            confidentiality of this information could subject you to penalties
                            under Federal and/or State law.
                        </SPAN>
                    </FONT>
                </P>
            </td>
            <td>
                <P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%">
                    <FONT SIZE=3>
                        <SPAN LANG="en-US">
                            PHONE:
                            +49-211-38789980<BR>FAX: +49-211-38789981
                        </SPAN>
                    </FONT>
                    <FONT SIZE=4><SPAN LANG="en-US"><BR><BR></SPAN></FONT>
                    <FONT COLOR="#002060">
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN LANG="en-US">
                                Version
                                2.0 Date: 29-09-2017<BR>Author: Quality Coordinator
                            </SPAN>
                        </FONT>
                    </FONT>
                </P>
            </td>
        </tr>
    </table>
</DIV>
