﻿@model ViewMedicalTransferModel

@{
    Layout = null;
}
<DIV TYPE=HEADER>
    <style>
        .font-family {
            font-family: "Arial Narrow", Arial, sans-serif;
            color: #002060;
        }
    </style>
    <P ALIGN=CENTER STYLE="margin-bottom: 0in; line-height: 100%"><IMG SRC="https://ambu-trans.co.uk/app/uploads/AMBU-TRANS-medical-repatriation.png" NAME="Picture 1" ALIGN=BOTTOM WIDTH=284 HEIGHT=41 BORDER=0></P>
</DIV>
<P ALIGN=CENTER STYLE="margin-bottom: 0.11in" class="font-family">
        <FONT SIZE=5>
            <SPAN LANG="en-US">
                <U>
                    <B>
                        <BR>MEDICAL TRANSFER DOCUMENT
                    </B>
                </U>
            </SPAN>
        </FONT>
</P>
<TABLE ALIGN=CENTER WIDTH=690 CELLPADDING=7 CELLSPACING=0 class="font-family">
    <COLGROUP>
        <COL WIDTH=155>
    </COLGROUP>
    <COLGROUP>
        <COL WIDTH=137>
        <COL WIDTH=165>
        <COL WIDTH=43>
        <COL WIDTH=24>
        <COL WIDTH=43>
        <COL WIDTH=23>
    </COLGROUP>
    <TR VALIGN=TOP>
        <TD WIDTH=155 HEIGHT=4 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>Date :</B>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=137 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    @Html.DisplayFor(x => x.RegisterDate)
                </FONT>
            </P>
        </TD>
        <TD WIDTH=165 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=24 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=23 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=7 WIDTH=674 HEIGHT=5 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>
                            To:
                            whom it may concern
                        </B>
                        <FONT COLOR="black">
                            &nbsp;&nbsp;&nbsp;@Html.DisplayFor(x => x.ToWhomItMayConcern)
                        </FONT>
                    </SPAN>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=150 HEIGHT=5 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                    <SPAN LANG="en-GB">
                        <B>
                            Name of patient:
                        </B>
                    </SPAN>
            </P>
        </TD>
        <TD WIDTH=100 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    @Html.DisplayFor(x => x.NameOfPatient)
                </FONT>
                <BR>
            </P>
        </TD>
        <TD WIDTH=150 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=50 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3><SPAN LANG="en-GB"><B>Age:</B></SPAN></FONT>
                <FONT COLOR="black">
                    @Html.DisplayFor(x => x.Age)
                </FONT>
            </P>
        </TD>
        <TD WIDTH=4 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD COLSPAN=2 WIDTH=120 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    <FONT SIZE=3>
                        <SPAN LANG="en-GB">


                            @if (Model != null)
                            {
                                if (Model.Gender)
                                {
                                    <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><text>M/ </text>
                                    <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>F</text>}
                                else
                                {
                                    <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>M/</text>
                                    <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><text>F</text>}
                            }
                        </SPAN>
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD WIDTH=155 HEIGHT=4 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <SPAN LANG="en-GB">
                        <B>
                            Date of birth:
                        </B>
                    </SPAN>
                </FONT>
            </P>
        </TD>
        <TD WIDTH=137 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    @Html.DisplayFor(x => x.DateOfBirth)
                </FONT>
                <BR>
            </P>
        </TD>
        <TD WIDTH=165 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=24 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=43 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD WIDTH=23 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P LANG="en-GB" ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
    </TR>
</TABLE>

<TABLE ALIGN=CENTER WIDTH=690 CELLPADDING=7 CELLSPACING=0 class="font-family">
    <COL WIDTH=315>
    <COL WIDTH=14>
    <COL WIDTH=128>
    <COL WIDTH=174>
    <TR VALIGN=TOP>
        <TD COLSPAN=3 WIDTH=485 HEIGHT=31 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT SIZE=3>
                    <B>
                        Presented in hospital:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.PresentedInHospital)
                    </FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                            <FONT SIZE=3>
                                <B>Address:</B>
                                <FONT COLOR="black">
                                    @Html.DisplayFor(x => x.HospitalAddress)
                                </FONT>

                            </FONT>
            </P>
            <P LANG="en-GB" ALIGN=JUSTIFY>
            </P>
        </TD>
        <TD WIDTH=174 STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>Date:</B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.Date)
                    </FONT>

                </FONT>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD ROWSPAN=3 WIDTH=315 HEIGHT=1 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                        <FONT SIZE=3>
                            <SPAN>
                                <B>
                                    Repatriation necessary bsecause of :
                                </B>
                            </SPAN>
                        </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=316 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1pt solid #00000a; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    <FONT SIZE=3>
                        <SPAN LANG="en-GB">


                            @if (Model != null)
                            {
                                if (Model.RepatriationNecessaryBecauseOf != null)
                                {

                                    foreach (var item in Model.RepatriationNecessaryBecauseOf)
                                    {
                                        if (item.isChecked == true)
                                        {

                                            <img src="~/Files/DefaultImages/check-box.png" style=" height: 12px;
            margin-right: 5px;" /><text>@item.RepatriationNecessaryName</text>
                                            <br />
                                        }
                                        else
                                        {
                                            <img src="~/Files/DefaultImages/check-box-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>@item.RepatriationNecessaryName</text>
                                            <br />
                                        }


                                    }
                                }
                            }
                        </SPAN>
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
</TABLE>
<TABLE ALIGN=CENTER WIDTH=690 CELLPADDING=7 CELLSPACING=0 class="font-family">
    <TR VALIGN=TOP WIDTH=690px>
        <TD COLSPAN=3 WIDTH=316 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1pt solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT SIZE=3>
                    <B>
                        Hospitalized to :
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.HospitalizedTo)
                    </FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT SIZE=3>
                    <B>Address:</B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.HospitalAddress)
                    </FONT>
                </FONT>
            </P>
            <P ALIGN=JUSTIFY>

            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=279 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT SIZE=3>
                    <B>Contact person :</B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.ContactPerson)
                    </FONT>
                </FONT>
            </P>

            <P ALIGN=JUSTIFY>
                        <FONT SIZE=3>
                            <B>
                                Bed
                                arranged :
                            </B>
                        </FONT>
                <FONT SIZE=3 COLOR="black">
                    @if (Model != null)
                    {

                        if (Model.BedArranged)
                        {
                            <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><text>Yes</text>
                            <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" />
                            <text>No</text>}

                        else
                        {
                            <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>Yes</text>
                            <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" />
                            <text>No</text>
                        }
                    }

                </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP WIDTH=690>
        <TD COLSPAN=3 WIDTH=383 HEIGHT=5 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Transfer/arrival
                        date :
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.TransferArrivalDate)
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=279 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>Time :</B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.Time)
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD COLSPAN=3 WIDTH=383 HEIGHT=3 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Contact person
                        family:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.ContactPersonFamily)
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=279 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Phone
                        number:

                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.PhoneNumber)
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD COLSPAN=3 WIDTH=383 HEIGHT=3 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=279 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: none; padding: 0in">
            <P ALIGN=JUSTIFY>
                <BR>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=6 WIDTH=676 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT SIZE=3>
                    <B>
                        Medical
                        history:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.MedicalHistory)
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=6 WIDTH=676 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                <FONT SIZE=3>
                    <SPAN LANG="en-GB"><B>Diagnosis:</B></SPAN>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.Diagnosis)
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
    <TR>
        <TD COLSPAN=6 WIDTH=676 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in">
                        <FONT SIZE=3>
                            <SPAN LANG="en-GB">
                                <B>Treatment:</B>
                                <FONT COLOR="black">
                                    @Html.DisplayFor(x => x.Treatment)
                                </FONT>
                            </SPAN>
                        </FONT>
            </P>
        </TD>
    </TR>
    <TR VALIGN=TOP>
        <TD COLSPAN=3 WIDTH=383 HEIGHT=5 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Recommendation:
                    </B>
                    <br />
                    <br />

                    <FONT COLOR="black">
                        @if (Model.RecomdationCategoryMaster != null)
                        {

                            foreach (var item in Model.RecomdationCategoryMaster)
                            {
                                if (item.RecomdationName == Model.RecomdationName)
                                {

                                    <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><text>@item.RecomdationName</text>
                                }
                                else
                                {
                                    <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>@item.RecomdationName</text>
                                }
                            }
                        }
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=279 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT COLOR="black">
                    @if (Model != null)
                    {

                        foreach (var item in Model.RecomdationSubcategoryTransaction)
                        {
                            if (item.isChecked == true)
                            {
                                <img src="~/Files/DefaultImages/check-box.png" style=" height: 12px;
            margin-right: 5px;" /><text>@item.RecomdationSubName</text>
                                <br />
                            }
                            else
                            {
                                <img src="~/Files/DefaultImages/check-box-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>@item.RecomdationSubName</text>
                                <br />
                            }
                        }
                    }
                    </FONT>
</P>
        </TD>
    </TR>

    <TR VALIGN=TOP>
        <TD COLSPAN=3 WIDTH=383 HEIGHT=5 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Fit to fly on date:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.FitToFlyDate)
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=279 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <FONT COLOR="black">
                        @foreach (var item in Model.AirClass)
                        {
                            if (item.ClassName == Model.ClassName)
                            {
                                <img src="~/Files/DefaultImages/Radio-Check.png" style=" height: 12px;
            margin-right: 5px;" /><text>@item.ClassName</text>
                                <br />
                            }
                            else
                            {
                                <img src="~/Files/DefaultImages/Radio-Check-empty.png" style=" height: 12px;
            margin-right: 5px;" /><text>@item.ClassName</text>
                                <br>
                            }
                        }
                    </FONT>
                    </FONT>
            </P>
        </TD>
    </TR>

    <TR VALIGN=TOP>
        <TD COLSPAN=3 WIDTH=383 HEIGHT=5 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Airline(s):
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.Airline)
                    </FONT>
                </FONT>
            </P>
        </TD>
        <TD COLSPAN=3 WIDTH=279 BGCOLOR="#ffffff" STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: none; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Flight hrs:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.FlightHrs)
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>

    <TR VALIGN=TOP>
        <TD COLSPAN=7 WIDTH=674 HEIGHT=5 VALIGN=TOP STYLE="border: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
            <P ALIGN=JUSTIFY>
                <FONT SIZE=3>
                    <B>
                        Special request:
                    </B>
                    <FONT COLOR="black">
                        @Html.DisplayFor(x => x.SpecialRequest)
                    </FONT>
                </FONT>
            </P>
        </TD>
    </TR>
</TABLE>
<TABLE ALIGN=CENTER WIDTH=690 CELLPADDING=7 CELLSPACING=0 class="font-family">
    <COLGROUP>
        <COL WIDTH=260>
        <COL WIDTH=80>
    </COLGROUP>
    <COLGROUP>
        <COL WIDTH=14>
        <COL WIDTH=62>
    </COLGROUP>
    <COLGROUP>
        <COL WIDTH=90>
        <COL WIDTH=100>
    </COLGROUP>
    <TBODY>
    </TBODY>
    <TBODY>
        <TR>
            <TD COLSPAN=2 WIDTH=354 HEIGHT=3 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                <P ALIGN=JUSTIFY>
                    <FONT SIZE=3>
                        <B>
                            Medcrew ambulance AT-
                        </B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.MedcrewAmbulanceAT)
                        </FONT>
                    </FONT>
                </P>
            </TD>
            <TD rowspan="4" WIDTH=307 VALIGN=TOP STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: 1px solid #00000a; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">

                <P ALIGN=JUSTIFY>
                    <FONT SIZE=3>
                        <b>
                            Signature
                            doctor/paramedic:
                        </b>
                        <br>

                    </FONT>
                </P>
                <table>
                    <tr>
                        <td width="80%">
                            @if (Model != null)
                            {
                                if (Model.SignatureImageName != null)
                                {
                                    <img src="@Html.DisplayFor(x => x.SignatureImageName)" width="200px" height="100px" />
                                }
                            }
                        </td>
                        <td width="20%"><IMG SRC="https://ambu-trans.co.uk/app/uploads/2016/03/contact247.png" alt="sss" NAME="Picture 3" WIDTH=69 HEIGHT=71 BORDER=0></td>
                    </tr>
                </table>
            </TD>
        </TR>
        <TR>
            <TD COLSPAN=2 WIDTH=354 HEIGHT=5 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                <P ALIGN=JUSTIFY>
                    <FONT SIZE=3>
                        <B>Doctor:</B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.DoctorName)
                        </FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR>
            <TD COLSPAN=2 WIDTH=354 HEIGHT=6 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                <P ALIGN=JUSTIFY>
                    <FONT SIZE=3>
                        <B>Paramedic:</B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.Paramedic)
                        </FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
        <TR>
            <TD COLSPAN=2 WIDTH=354 HEIGHT=3 STYLE="border-top: 1px solid #00000a; border-bottom: 1px solid #00000a; border-left: 1px solid #00000a; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
                <P ALIGN=JUSTIFY>
                    <FONT SIZE=3>
                        <B>Driver: </B>
                        <FONT COLOR="black">
                            @Html.DisplayFor(x => x.Driver)
                        </FONT>
                    </FONT>
                </P>
            </TD>
        </TR>
    </TBODY>
</TABLE>
<br />
<DIV TYPE=FOOTER>
    <table width="674" align="center" class="font-family">
        <tr>
            <td width="70%">
                <P STYLE="margin-bottom: 0.11in">
                    <A NAME="_GoBack"></A><FONT SIZE=1 STYLE="font-size: 8pt"><SPAN LANG="en-US"><U><B>Disclaimer:<BR></B></U></SPAN></FONT>
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN LANG="en-US">
                                Confidential
                                Health Information Enclosed. Health care information is personal
                                and sensitive. <BR>It is being faxed to you after appropriate
                                authorization from the Individual or under circumstances<BR>that do
                                not require Individual authorization. The recipient is obligated to
                                maintain this information in a safe, secure and confidential
                                manner. Re-disclosure without additional consent or authorization
                                of the Individual or as permitted by law is prohibited.
                                Unauthorized re-disclosure or failure to maintain the
                                confidentiality of this information could subject you to penalties
                                under Federal and/or State law.
                            </SPAN>
                        </FONT>
                </P>
            </td>
            <td>
                <P ALIGN=RIGHT STYLE="margin-bottom: 0in; line-height: 100%">
                    <FONT SIZE=3>
                        <SPAN LANG="en-US">
                            PHONE:
                            +49-211-38789980<BR>FAX: +49-211-38789981
                        </SPAN>
                    </FONT><FONT SIZE=4><SPAN LANG="en-US"><BR><BR></SPAN></FONT>
                        <FONT SIZE=1 STYLE="font-size: 8pt">
                            <SPAN LANG="en-US">
                                Version
                                2.0 Date: 29-09-2017<BR>Author: Quality Coordinator
                            </SPAN>
                        </FONT>
                </P>
            </td>
        </tr>
    </table>
</DIV>

